@import 'index.scss';

$text-position-phone: 30px;
$text-position-tablet: 60px;
$text-position-desktop: 90px;

.sectionHero {
  color: $main-light-clr;
  background-color: $neutral-dark-clr-1;
}

.boxHero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroP {
  font-weight: 800;
  color: $neutral-light-clr-1;

  font-size: 22px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 70px;
  }
}

.heroPosition {
  text-align: center;
  font-size: $text-position-phone;
  font-weight: 800;
  color: $main-light-clr;

  @media screen and (min-width: 768px) {
    font-size: $text-position-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $text-position-desktop;
  }
}

.point {
  font-size: $text-position-phone;
  color: $accent-clr-1;

  @media screen and (min-width: 768px) {
    font-size: $text-position-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $text-position-desktop;
  }
}
