$main-light-clr: #fbfbfb;
$main-dark-clr: #161616;
$neutral-light-clr-1: #adacb5;
$neutral-dark-clr-1: #262626;
$accent-clr-1: #ff825a;

$default-margin-phone: 24px;
$default-margin-tablet: 48px;
$default-margin-desktop: 72px;

$text-font-phone: 18px;
$text-font-tablet: 20px;
$text-font-desktop: 22px;
$default-letter-spacing: 1.3px;

$default-brd-rad: 6px;
$animation-fast: 400ms cubic-bezier(0.19, 1, 0.22, 1);
$animation-medium: 800ms cubic-bezier(0.19, 1, 0.22, 1);
$animation-slow: 1200ms cubic-bezier(0.19, 1, 0.22, 1);
