@import 'index.scss';

.boxSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.listSkills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (min-width: 768px) {
    width: 600px;
  }

  @media screen and (min-width: 1440px) {
    width: 800px;
  }
}

.skill {
  padding: 10px 20px;
  font-size: $text-font-phone;
  border-radius: $default-brd-rad;

  color: $main-light-clr;
  background-color: rgba(36, 32, 32, 0.616);

  @media screen and (min-width: 768px) {
    font-size: $text-font-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $text-font-desktop;
  }
}

.accent {
  color: $accent-clr-1;
  font-size: inherit;
}
