@font-face {
  font-family: 'Kreadon-B';
  src: url('./Kreadon/typeface/Kreadon-B.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-D';
  src: url('./Kreadon/typeface/Kreadon-D.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-EB';
  src: url('./Kreadon/typeface/Kreadon-EB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-EL';
  src: url('./Kreadon/typeface/Kreadon-EL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-L';
  src: url('./Kreadon/typeface/Kreadon-L.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-M';
  src: url('./Kreadon/typeface/Kreadon-M.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-R';
  src: url('./Kreadon/typeface/Kreadon-R.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon-VF';
  src: url('./Kreadon/typeface/KreadonVF.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
