@import 'index.scss';

.sectionCeil {
  padding: 12px 24px;
  background-color: $neutral-dark-clr-1;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 24px 48px;
  }
}

.headerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
  }
}
