@import 'index.scss';

.themeToggle {
  position: absolute;
  top: 20px;
  left: 20px;
}

.toggleInput {
  display: none;
}

.toggleLabel {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 70px;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  border: 2px solid $main-light-clr;

  background-color: transparent;
  transition: background-color $animation-slow, border $animation-medium;
}

.toggleIcon {
  display: inline-block;
  padding: 20px 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;

  color: $neutral-dark-clr-2;
  transition: color $animation-slow;
}

.toggleInput:checked + .toggleLabel {
  border: 2px solid $accent-clr-1;
  color: $main-light-clr;
}

.iconToggle {
  color: $main-light-clr;
}

.toggleCircle {
  position: absolute;
  top: 5px;
  left: 5px;

  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  background-color: $main-light-clr;
  transform: translateY(-50%);
  transition: transform $animation-slow, background-color $animation-medium;
}

.toggleInput:checked .toggleCircle {
  background-color: $accent-clr-1;
}
