@import 'index.scss';

.themeToggle {
  position: absolute;
  top: 10px;
  left: 10px;

  @media screen and (min-width: 768px) {
    top: 15px;
    left: 15px;
  }

  @media screen and (min-width: 1440px) {
    top: 25px;
    left: 25px;
  }
}

.toggleInput {
  display: none;
}

.toggleLabel {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 70px;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  border: 2px solid $main-light-clr;

  background-color: transparent;
  transition: background-color $animation-slow, border $animation-medium;
}

.toggleIcon {
  display: inline-block;
  padding: 20px 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;

  color: $neutral-dark-clr-1;
  transition: color $animation-slow;
}

.toggleInput:checked + .toggleLabel {
  border: 2px solid $accent-clr-1;
  color: $main-light-clr;
}

.iconToggle {
  color: $main-light-clr;
  transition: color $animation-medium;
}

.toggleInput:checked + .toggleLabel .iconToggle {
  color: $accent-clr-1;
}

.toggleCircle {
  position: absolute;
  top: 5px;
  left: 5px;

  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px $accent-clr-1);

  background-color: $accent-clr-1;
  transform: translateY(-50%);
  transition: transform $animation-add-1, background-color $animation-medium,
    filter $animation-medium;
}

.toggleInput:checked + .toggleLabel .toggleCircle {
  filter: drop-shadow(0px 0px 4px $neutral-light-clr-1);
  background-color: $main-light-clr;
}
