$main-light-clr: #eae8ff;
$main-dark-clr: #070608;
$accent-clr-1: #fadf7f;
$neutral-light-clr-1: #adacb5;
$neutral-dark-clr-1: #2d3142;

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: $neutral-dark-clr-1;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
