@import './fonts/fonts.scss';

$main-light-clr: #fbfbfb;
$neutral-light-clr-1: #adacb5;
$neutral-dark-clr-1: #262626;
$neutral-dark-clr-2: #101010;
$accent-clr-1: #ff825a;

$default-margin-phone: 24px;
$default-margin-tablet: 48px;
$default-margin-desktop: 72px;

$text-font-phone: 18px;
$text-font-tablet: 20px;
$text-font-desktop: 22px;
$default-letter-spacing: 1.3px;

$default-brd-rad: 4px;
$animation-fast: 400ms cubic-bezier(0.19, 1, 0.22, 1);
$animation-medium: 800ms cubic-bezier(0.19, 1, 0.22, 1);
$animation-slow: 1200ms cubic-bezier(0.19, 1, 0.22, 1);

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kreadon-M';
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: $default-margin-phone 0px;
  color: $main-light-clr;
  background-color: $neutral-dark-clr-1;

  @media screen and (min-width: 768px) {
    padding: $default-margin-tablet 0px;
  }

  @media screen and (min-width: 1440px) {
    padding: $default-margin-desktop 0px;
  }
}

#shadow-host-companion {
  display: none;
}
