$main-light-clr: #fbfbfb;
$main-dark-clr: #070608;
$accent-clr-1: #ff825a;
$neutral-light-clr-1: #adacb5;
$neutral-dark-clr-1: #363636;

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $neutral-dark-clr-1;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
