@import 'index.scss';
@import '../../../fonts/fonts.scss';

.titleCategory {
  position: relative;
  margin-top: $default-margin-phone;
  margin-bottom: $default-margin-phone;

  font-family: 'Kreadon-M';
  font-size: 32px;
  font-weight: 500;
  letter-spacing: $default-letter-spacing;
  z-index: 10;

  color: $accent-clr-1;

  @media screen and (min-width: 768px) {
    margin-top: $default-margin-tablet;
    margin-bottom: $default-margin-tablet;
    font-size: 48px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: $default-margin-desktop;
    margin-bottom: $default-margin-desktop;
    font-family: 'Kreadon-B';
    font-size: 64px;
  }
}

.textShadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: inherit;
  font-size: 300%;
  z-index: 1;
  white-space: nowrap;

  color: rgba(49, 48, 48, 0.384);
}
