@import 'index.scss';
@import '../../../fonts/fonts.scss';

.boxTitle {
  position: relative;
  transform-origin: center;
}

.titleCategory {
  margin-top: $default-margin-phone;
  margin-bottom: $default-margin-phone;

  font-family: 'Kreadon-M';
  font-size: 32px;
  font-weight: 500;
  z-index: 20;

  color: $accent-clr-1;

  @media screen and (min-width: 768px) {
    margin-top: $default-margin-tablet;
    margin-bottom: $default-margin-tablet;
    font-size: 48px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: $default-margin-desktop;
    margin-bottom: $default-margin-desktop;
    font-family: 'Kreadon-B';
    font-size: 64px;
  }
}
