@import 'index.scss';

$width-phone: 150px;
$width-tablet: 300px;
$width-desktop: 450px;

$height-phone: 200px;
$height-tablet: 400px;
$height-desktop: 600px;

$title-phone: 20px;
$title-tablet: 24px;
$title-desktop: 28px;

.sectionAboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $neutral-dark-clr-2;
}

.boxInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $default-margin-phone;

  @media screen and (min-width: 768px) {
    gap: $default-margin-tablet;
  }

  @media screen and (min-width: 1440px) {
    gap: $default-margin-desktop;
  }
}

.boxImage {
  width: $width-phone;
  height: $height-phone;
  border: 4px dashed $accent-clr-1;

  @media screen and (min-width: 768px) {
    width: $width-tablet;
    height: $height-tablet;
  }

  @media screen and (min-width: 1440px) {
    width: $width-desktop;
    height: $height-desktop;
  }
}

.boxText {
  color: $main-light-clr;
}

.myName {
  font-size: $title-phone;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    font-size: $title-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $title-desktop;
  }
}

.accentText {
  color: $accent-clr-1;
}

.description {
  font-size: $text-font-phone;
  max-width: 300px;

  @media screen and (min-width: 768px) {
    max-width: 500px;
    font-size: $text-font-tablet;
  }

  @media screen and (min-width: 1440px) {
    max-width: 700px;
    font-size: $text-font-desktop;
  }
}
