@import 'index.scss';

$width-phone: 100px;
$width-tablet: 200px;
$width-desktop: 500px;

$height-phone: 150px;
$height-tablet: 300px;
$height-desktop: 700px;

$title-phone: 22px;
$title-tablet: 26px;
$title-desktop: 30px;

.sectionAboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $neutral-dark-clr-2;
}

.boxInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  @media screen and (max-width: 375px) {
    gap: $default-margin-phone;
  }
  @media screen and (min-width: 375px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 768px) {
    gap: $default-margin-tablet;
  }

  @media screen and (min-width: 1440px) {
    gap: $default-margin-desktop;
  }
}

.boxImage {
  position: relative;

  width: $width-phone;
  height: $height-phone;
  border: 4px dashed $accent-clr-1;
  margin-bottom: $default-margin-phone;

  @media screen and (min-width: 768px) {
    width: $width-tablet;
    height: $height-tablet;
    margin-bottom: $default-margin-tablet;
  }

  @media screen and (min-width: 1440px) {
    width: $width-desktop;
    height: $height-desktop;
    margin-bottom: $default-margin-desktop;
  }
}

.myImage {
  position: absolute;
  top: 20px;
  left: 20px;

  width: $width-phone;
  height: $height-phone;

  background-color: $accent-clr-1;

  @media screen and (min-width: 768px) {
    width: $width-tablet;
    height: $height-tablet;
    margin-bottom: $default-margin-tablet;
  }

  @media screen and (min-width: 1440px) {
    width: $width-desktop;
    height: $height-desktop;
    margin-bottom: $default-margin-desktop;
  }
}

.boxText {
  color: $main-light-clr;
}

.myName {
  margin-bottom: 15px;
  font-size: $title-phone;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    font-size: $title-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $title-desktop;
  }
}

.accentText {
  color: $accent-clr-1;
}

.boxDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.boxDescription :nth-child(even) {
  text-align: end;
}

.description {
  max-width: 300px;
  padding: 5px;

  font-size: $text-font-phone;
  border-radius: $default-brd-rad;

  background-color: $neutral-dark-clr-1;

  @media screen and (min-width: 768px) {
    max-width: 500px;
    font-size: $text-font-tablet;
  }

  @media screen and (min-width: 1440px) {
    max-width: 700px;
    font-size: $text-font-desktop;
  }
}
