@import 'index.scss';

.buttonHeader {
  position: relative;
  padding: 8px 16px;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: $default-letter-spacing;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;

  color: $main-light-clr;
  background-color: transparent;
  transition: color $animation-medium;

  @media screen and (min-width: 768px) {
    padding: 12px 24px;
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    padding: 16px 32px;
  }
}

.buttonHeader:hover,
.buttonHeader:focus {
  color: $accent-clr-1;
}

.active {
  color: $accent-clr-1;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    height: 3px;
    width: 100%;

    border-top-left-radius: $default-brd-rad;
    border-top-right-radius: $default-brd-rad;

    color: $accent-clr-1;
    background-color: $accent-clr-1;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform $animation-medium;

    @media screen and (min-width: 768px) {
      height: 4px;
    }
  }

  &:hover,
  &:focus {
    &:after {
      transform: scaleX(1);
    }
  }
}
